<ion-content class="ion-padding">

  <a routerLink="">
    <ion-img class="logo-image" src="assets/images/e-collective.png"></ion-img>
  </a>

  <ion-card >
    <ion-card-header lines="none">
      <ion-card-title class="ion-text-center">Registrar Tienda</ion-card-title>
    </ion-card-header>

    <ion-card-content>
    

      <ion-list>
        <ion-item>
          <ion-input placeholder="Nombre de la Tienda" formControlName="nombreT"></ion-input>
        </ion-item>

        <ion-text>
          <p>Es necesario ingresar un nombre. </p>
        </ion-text>
  
        <ion-item>
          <ion-input placeholder="Empresa" formControlName="nombreE"></ion-input >
        </ion-item>
  
        <ion-text>
          <p>Nombre de la empresa a la que pertenece. </p>
        </ion-text>
  
        <ion-item>
          <ion-input placeholder="Llave de autentificacion" formControlName="llave"></ion-input>
        </ion-item>
  
        <ion-text>
          <p>Llave de autentificacion de la empresa. </p>
        </ion-text>
  
        <ion-item>
          <ion-input placeholder="Ubicacion" formControlName="direccion"></ion-input>
        </ion-item>
  
        <ion-text>
          <p>Direccion de la empresa. </p>
        </ion-text>
      </ion-list>
      <!--
      <form [formGroup]="userForm">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Nombre completo *</ion-label>
            <ion-input formControlName="nombre"></ion-input> 
          </ion-item>
    
          <ion-text *ngIf="!userForm.get('nombre').valid && userForm.get('nombre').touched" color="danger">
            <p>Es necesario ingresar un nombre. </p>
          </ion-text>
    
          <ion-item>
            <ion-label position="floating">Fecha de nacimiento *</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" min="1910-03-14" formControlName="fchNacimiento"></ion-datetime>
          </ion-item>
    
          <ion-text *ngIf="!userForm.get('fchNacimiento').valid && userForm.get('fchNacimiento').touched" color="danger">
            <p>Es necesario ingresar una fecha de nacimiento. </p>
          </ion-text>
    
          <ion-item>
            <ion-label position="floating">Correo Electrónico *</ion-label>
            <ion-input formControlName="correo"></ion-input> 
          </ion-item>
    
          <ion-text *ngIf="!userForm.get('correo').valid && userForm.get('correo').touched" color="danger">
            <p>Es necesario ingresar un correo electrónico válido para su cuenta. </p>
          </ion-text>
    
          <ion-item>
            <ion-label position="floating">Contraseña *</ion-label>
            <ion-input type="password" formControlName="contrasena"></ion-input> 
          </ion-item>
    
          <ion-text *ngIf="!userForm.get('contrasena').valid && userForm.get('contrasena').touched" color="danger">
            <p>Es necesario ingresar una contraseña de 8 o más dígitos para su cuenta. </p>
          </ion-text>
        </ion-list>
      </form>
    -->
      <ion-button 
        expand="full" 
        class="ion-margin-top"
        mode="ios"
      >Registrar Tienda
      </ion-button>
 
      <div class="a-row" style="text-align: center">
        <ion-text style="color:black;">
          <a class="a-link-emphasis" [routerLink]="['../soap']">Volver atras</a>
          o
          <a class="a-link-emphasis" [routerLink]="['../home']">Volver al inicio</a>
        </ion-text>

      </div>

    </ion-card-content>
  </ion-card>

</ion-content>
