<ion-content class="ion-padding">

  <a routerLink="">
    <ion-img class="logo-image" src="assets/images/e-collective.png"></ion-img>
  </a>

  <ion-card >
    <ion-card-header lines="none">
      <ion-card-title class="ion-text-center">Registrar Empresa</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <form [formGroup]="storeForm">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Nombre de la empresa *</ion-label>
            <ion-input formControlName="nombreE"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Llave que recibió en su correo tras crear la empresa *</ion-label>
            <ion-input formControlName="llave"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Nombre de la tienda *</ion-label>
            <ion-input formControlName="nombreT"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Ubicación de la tienda*</ion-label>
            <ion-input formControlName="direccion"> </ion-input>
          </ion-item>

        </ion-list>

      </form>
    


      <ion-button 
        expand="full" 
        class="ion-margin-top"
        mode="ios"
        (click)="onSubmit()"
      >Registrar Tienda
      </ion-button>
 
      <div class="a-row" style="text-align: center">
        <ion-text style="color:black;">
          <a class="a-link-emphasis" [routerLink]="['../soap']">Volver atras</a>
          o
          <a class="a-link-emphasis" [routerLink]="['../home']">Volver al inicio</a>
        </ion-text>

      </div>

    </ion-card-content>
  </ion-card>

</ion-content>
