<ion-content class="ion-padding">

  <a routerLink="">
    <ion-img class="logo-image" src="assets/images/e-collective.png"></ion-img>
  </a>

  <ion-card >
    <ion-card-header lines="none">
      <ion-card-title class="ion-text-center">Registrar Empresa</ion-card-title>
    </ion-card-header>

    <ion-card-content>
    

      <ion-list>
        <ion-item>
          <ion-input placeholder="Nombre" formControlName="nombreE"></ion-input>
        </ion-item>

        <ion-text>
          <p>Es necesario ingresar un nombre. </p>
        </ion-text>
  
        <ion-item>
          <ion-input placeholder="Direccion" formControlName="direccion"></ion-input>
        </ion-item>
  
        <ion-text>
          <p>Ingrese la direccion fisica de la empresa. </p>
        </ion-text>
  
        <ion-item>
          <ion-input placeholder="Nombre Representante" formControlName="nombreR"></ion-input>
        </ion-item>
  
        <ion-text>
          <p>Es necesario ingresar un representante de la empresa. </p>
        </ion-text>
  
        <ion-item>
          <ion-input placeholder="Correo Representante" formControlName="correo" type ="email"> </ion-input>
        </ion-item>
  
        <ion-text>
          <p>Es necesario ingresar un correo para el representante. </p>
        </ion-text>
      </ion-list>
      <ion-button 
        expand="full" 
        class="ion-margin-top"
        mode="ios"
      >Registrar Empresa
      </ion-button>
 
      <div class="a-row" style="text-align: center">
        <ion-text style="color:black;">
          <a class="a-link-emphasis" [routerLink]="['../soap']">Volver atras</a>
          o
          <a class="a-link-emphasis" [routerLink]="['../home']">Volver al inicio</a>
        </ion-text>

      </div>

    </ion-card-content>
  </ion-card>

</ion-content>
