ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}

.toolbar1{
    --background:#131635;
}

ion-content {
    --background: #f0f0f0; // Replace this with color of your choice
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


ion-card {
    max-width: 700px; 
    margin:auto
}

ion-menu-button {
    color: white;
  }

.logo{
    height: 100px;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
}
