ion-avatar { 
    margin: auto;
    border-radius: 50px !important;
    padding: 10px;
    height: 100px !important;
    width: 100px !important;
}

ion-toolbar {
    --background: #131635;
}

ion-title {
    color: white;
}


