<ion-app>
  <ion-menu side="start" content-id="menuContent">
    <ion-header>
      <ion-toolbar>
        <ion-title class="ion-text-center">Menú</ion-title>
      </ion-toolbar>
    </ion-header>
      <ion-content>
        <ion-list>
          
          <div *ngIf = "user; else noUser">
            <ion-item lines="none">
              <ion-avatar>
                <img [src] = "user.imageData" >
              </ion-avatar>
            </ion-item>

            <div class="ion-text-center" *ngIf = "user; else noUser">
              <h6><b>Hola, {{user.name}}</b></h6>
            </div> 
          </div>
        
          <ng-template #noUser>
            <ion-item lines="none">
              <ion-avatar>
                <img src="assets/avatar.svg">
              </ion-avatar>
            </ion-item>

            <div class="ion-text-center">
              <h6><b>Hola, Usuario</b></h6>
            </div>
          </ng-template>

          <ion-menu-toggle>
            <ion-button fill="clear" expand="full" mode="ios"> <!--(click)="onClickEditarPerfil()" [routerLink]="['../perfil']"-->
              <ion-label>Editar perfil</ion-label>
            </ion-button>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item lines="none" button [routerLink]="['../home']"> 
              <ion-icon name="home-outline" slot="start"></ion-icon>
              <ion-label>Inicio</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item lines="none" button [routerLink]="['../locations']"> 
              <ion-icon name="location-outline" slot= "start"></ion-icon>
              <ion-label>Ubicaciones</ion-label>
            </ion-item>
          </ion-menu-toggle>
  
          <ion-menu-toggle>
            <ion-item lines="none" button [routerLink]="['../about-us']"> 
              <ion-icon name="information-circle-outline" slot="start"></ion-icon>
              <ion-label>Acerca de Nosotros</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item lines="none" button [routerLink]="['../news']"> 
              <ion-icon name="newspaper-outline" slot="start"></ion-icon>
              <ion-label>Noticias</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item lines="none" button [routerLink]="['../faq']"> 
              <ion-icon name="help-circle-outline" slot = "start"></ion-icon>
              <ion-label>Preguntas frecuentes</ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          <div *ngIf = "user && (user.rol == 1 || user.rol == 2)">

            <ion-menu-toggle>
              <ion-item lines="none" button [routerLink]="['../admin-user']"> 
                <ion-icon name="bar-chart-outline" slot = "start"></ion-icon>
                <ion-label>Administrar</ion-label>
              </ion-item>
            </ion-menu-toggle>


            <ion-menu-toggle>
              <ion-item lines="none" button (click)= "onClickLogOut()">
                <ion-icon color="danger" name="log-out-sharp" slot="start" ></ion-icon>
                <ion-label color="danger">Cerrar Sesión</ion-label>
              </ion-item>
            </ion-menu-toggle>
            

          </div>
  
        </ion-list>
      </ion-content>
  

  

  </ion-menu>
  <ion-router-outlet id="menuContent"></ion-router-outlet>
</ion-app>
