<ion-header>
  <ion-toolbar>
    <ion-buttons color="light" slot="start">
      <ion-back-button color="light" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Preguntas frecuentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <app-accordion *ngFor="let pregunta of preguntas">
        <app-accordion-item title={{pregunta.pregunta}}>
          <ion-item>
            <div align="justify">
              <ion-text style="white-space: pre-line;"><p> {{pregunta.respuesta}} </p></ion-text>
            </div>
          </ion-item>

        </app-accordion-item>
      </app-accordion>

    </ion-list>



  </ion-card>


</ion-content>
