<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-button mode="ios" fill="clear" slot="end" href="/home">
      <ion-label color="light">E - Collective</ion-label>
    </ion-button>
    
    <ion-title>Administrar productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col size-xl="4" size-md="4" size-xs="12" >


        <ion-card >
          <ion-card-header lines="none">
            <ion-card-title class="ion-text-center">Registrar producto</ion-card-title>
          </ion-card-header>
      
          <ion-card-content>
            <div class="ion-text-center">
              <ion-title size="small" color="dark">Foto del producto</ion-title>
              <ion-avatar style="margin:auto" height="300">
                <img [src]="previewImage"><br>
              </ion-avatar>
          
              <input style="display:none" type="file" accept="image/*" (change)="onProfilePictureSelected($event)" #fileInput>
              <ion-button mode="ios" fill="clear" (click)="fileInput.click()">Seleccionar</ion-button>
            </div>
          
            <form [formGroup]="productForm">
              <ion-list>
                
                <ion-item>
                  <ion-label position="floating">Código del celular *</ion-label>
                  <ion-input formControlName="codigo"></ion-input> 
                </ion-item>
          
                <ion-text *ngIf="!productForm.get('codigo').valid && productForm.get('codigo').touched" color="danger">
                  <p>Es necesario ingresar un código. </p>
                </ion-text>
          
                <ion-item>
                  <ion-label position="floating">Marca del celular *</ion-label>
                  <ion-input formControlName="marca"></ion-input> 
                </ion-item>
          
                <ion-text *ngIf="!productForm.get('marca').valid && productForm.get('marca').touched" color="danger">
                  <p>Es necesario ingresar una marca. </p>
                </ion-text>
          
                <ion-item>
                  <ion-label position="floating">Modelo del celular *</ion-label>
                  <ion-input formControlName="modelo"></ion-input> 
                </ion-item>
          
                <ion-text *ngIf="!productForm.get('modelo').valid && productForm.get('modelo').touched" color="danger">
                  <p>Es necesario ingresar un modelo de celular. </p>
                </ion-text>
          
                <ion-item>
                  <ion-label position="floating">Precio *</ion-label>
                  <ion-input formControlName="precio"></ion-input> 
                </ion-item>
          
                <ion-text *ngIf="!productForm.get('precio').valid && productForm.get('precio').touched" color="danger">
                  <p>Es necesario ingresar un precio de venta. </p>
                </ion-text>
          
              </ion-list>
            </form>
          
            <ion-button 
              expand="full" 
              class="ion-margin-top"
              (click)="onClickCreateProduct()"
              mode="ios"
            >Registrar
            </ion-button>
      
      
      
      
      
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size-xl="4" size-md="4" size-xs="12" >

        <ion-card >

          <ion-card-header lines="none">
            <ion-card-title class="ion-text-center">Buscar producto</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div>
              <form [formGroup]="searchForm">
                <ion-list>
                  
                  <ion-item>
                    <ion-label position="floating">Indentificador del producto *</ion-label>
                    <ion-input formControlName="idProduct"></ion-input> 
                  </ion-item>
            
                  <ion-text *ngIf="!searchForm.get('idProduct').valid && searchForm.get('idProduct').touched" color="danger">
                    <p>Es necesario ingresar un identificador. </p>
                  </ion-text>
  
                </ion-list>
                <ion-button  expand="full" class="ion-margin-top" (click)="searchProduct()" mode="ios">Buscar
                </ion-button>
              </form>
            </div>
 
            <div *ngIf = "(product | async) && searching">
              <h2>Resultado de la busqueda</h2>
              <ion-list id='lista-productos'>
                <ion-item>
                  <ion-avatar>
                    <img [src]="product.imgUrl">
                  </ion-avatar>
                  <ion-label style="margin-left: 15px;">
                    <h3><b>{{product.name}}{{product.model}}</b></h3>
                    <h3>Breve descripcion</h3>
                    <h3>{{product.price}}</h3>
                  </ion-label>
                  <ion-buttons>
                    <ion-button slot="end" fill="clear">
                      <ion-icon name="add-circle-outline"></ion-icon>      
                    </ion-button> 
                  </ion-buttons>
    
                </ion-item>
              </ion-list>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xl="4" size-md="4" size-xs="12"  >

        <div>
          <h2>Lista de productos</h2>
          <ion-list id='lista-empleados'>
            <ion-item *ngFor="let producto of productos">
              <ion-avatar>
                <img [src]="producto.imgUrl">
              </ion-avatar>
              <ion-label style="margin-left: 15px;">
                <h3><b>{{producto.name}} {{producto.model}}</b></h3>
                <h3>₡ {{producto.price}} c/IVA</h3>
              </ion-label>
              <ion-buttons>
                <ion-button slot="end" fill="clear" (click) = "updateProduct(producto)">
                  <ion-icon name="construct-outline"></ion-icon>                
              </ion-button> 

              <ion-button slot="end" fill="clear" (click) = "deleteProduct(producto)">
              <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
              </ion-buttons>

            </ion-item>
          </ion-list>
        </div>
        
      </ion-col>
      

    </ion-row>
  </ion-grid>

</ion-content>
