ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}

ion-toolbar {
    --background: #050446;
}

ion-content {
    --background: #f0f0f0; // Replace this with color of your choice
}

ion-menu-button {
    color: white;
  }