<ion-header [translucent]="true" >
  <ion-toolbar class="toolbar1">
        <ion-buttons slot="start" *ngIf="!isDesktop">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
 
          <a href="/home" slot="start">
            <img src="\assets\images\e-collectiveWG.png" class="logo">
          </a>
          

        <ion-searchbar slot = "start" placeholder="Buscar teléfonos celulares..."></ion-searchbar>

        <div style="display: flex; align-items: center; justify-content: center;" *ngIf="(observableUser | async) as user; else noLogin">
          <ion-button mode="ios" fill="clear" (click)= "onClickLogin()">
            <ion-label color="light">{{user.name}}</ion-label>
          </ion-button>
          <ion-button mode="ios" fill="clear" (click)= "onClickLogOut()">
            <ion-label color="light">Cerrar sesión</ion-label>
          </ion-button> 
        </div>
        
        <ng-template #noLogin>
          <ion-button mode="ios" fill="clear" (click)= "onClickLogin()">
            <ion-label color="light">Iniciar sesión</ion-label>
          </ion-button>
          <ion-button mode="ios" fill="clear" (click) = "onClickRegister()">
            <ion-label color="light">Registrarse</ion-label>
          </ion-button>
        </ng-template>

        <ion-button style="padding-right: 10px;" slot="end" fill="clear" (click)= "abrirCarrito()" #carro>
          <div class = "cart-lenght"> {{contadorItems | async}} </div>
          <ion-icon name = "cart" class = "cart-icon"></ion-icon>        
        </ion-button> 


  </ion-toolbar>

  <ion-toolbar *ngIf="isDesktop" class="toolbar2">
    <ion-row >
      <ion-col size="12">
        <div class="navbar" class="ion-text-center">
          <ion-button class="superSlim" fill="clear" mode="ios" [routerLink]="['../locations']" >
            <ion-label color="light">Ubicaciones</ion-label>
          </ion-button>
          <ion-button class="superSlim" fill="clear" mode="ios" [routerLink]="['../about-us']" >
            <ion-label color="light">Acerca de nosotros</ion-label>
          </ion-button>
          <ion-button class="superSlim" fill="clear" mode="ios" [routerLink]="['../news']" >
            <ion-label color="light">Noticias</ion-label>
          </ion-button>
          <ion-button class="superSlim" fill="clear" mode="ios" [routerLink]="['../faq']"  >
            <ion-label color="light">Preguntas frecuentes</ion-label>
          </ion-button>
          <ion-button class="superSlim" fill="clear" mode="ios" [routerLink]="['../contact']"  >
            <ion-label color="light">Contáctenos</ion-label>
          </ion-button>
          <div *ngIf = "this.usuario && (this.usuario.rol == 1 || this.usuario.rol == 2)">
            <ion-button class="superSlim" fill="clear" mode="ios" [routerLink]="['../admin-user']"  >
              <ion-label color="light">Administrar</ion-label>
            </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>     
  
  <owl-carousel-o [options]="customOptions" *ngIf=" productos.length"> 
    <ng-container *ngFor="let producto of productos">
      <ng-template carouselSlide *ngIf ="producto.discount!=0">
        <div class="slider" >
          <ion-card>           
            <h1 style = "color: #6bad29; font-size: 2em; font-style:italic;" > 
              <b>OFERTA ESPECIAL</b>
            </h1>
            <ion-card-header>
              <div style="display: flex; align-items: center; justify-content: center;">
                <img style ="width: 50%;" class="deviceOfferImage" [src]="producto.imgUrl" />
              </div>
              
              <ion-card-title>{{producto.name}} {{producto.model}}</ion-card-title>
              <ion-label *ngIf ="producto.discount!=0"><b>₡ {{producto.price - (0.01 *producto.discount)*producto.price}} c/IVA</b></ion-label>
              <ion-label *ngIf ="producto.discount!=0"><s>  ₡ {{producto.price}} c/IVA</s></ion-label>
              
              <ion-label *ngIf ="producto.discount==0"><b>₡ {{producto.price}} c/IVA</b></ion-label>

            </ion-card-header>
            <ion-card-content>
              <ion-footer>
                <ion-row>
                  <ion-col size="6" class="slim">
                    <ion-button class="slim" mode="ios" fill="clear" expand="full" (click)="verDetalles(producto)">
                      <h3><b>Ver detalles</b></h3>
                    </ion-button>
                  </ion-col>
                  <ion-col size="6" class="slim">
                    <ion-button class="slim" mode="ios" fill="clear" expand="full" (click)="agregarEnCarrito(producto)">
                      <h3><b>Agregar al carrito</b></h3>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-footer>

            </ion-card-content>
          </ion-card>


        </div>
      </ng-template>
    </ng-container>
 
  </owl-carousel-o>
  
  
  <ion-grid>
      <ion-row>
        <ion-col size-xl="3" size-md="6" size-xs="12" *ngFor="let producto of productos">
          <ion-card>

            
            <ion-card-header>
              <div style="display: flex; align-items: center; justify-content: center;">
                <img class="deviceImage" [src]="producto.imgUrl" />
              </div>
              <ion-card-title>{{producto.name}} {{producto.model}}</ion-card-title>
              <ion-label *ngIf ="producto.discount!=0"><b>₡ {{producto.price - (0.01 *producto.discount)*producto.price}} c/IVA</b></ion-label>
              <ion-label *ngIf ="producto.discount!=0"><s>  ₡ {{producto.price}} c/IVA</s></ion-label>
              
              <ion-label *ngIf ="producto.discount==0"><b>₡ {{producto.price}} c/IVA</b></ion-label>

            </ion-card-header>
            <ion-card-content>
              <ion-footer>
                <ion-row>
                  <ion-col size="6" class="slim">
                    <ion-button class="slim" mode="ios" fill="clear" expand="full" (click)="verDetalles(producto)">
                      <h3><b>Ver detalles</b></h3>
                    </ion-button>
                  </ion-col>
                  <ion-col size="6" class="slim">
                    <ion-button class="slim" mode="ios" fill="clear" expand="full" (click)="agregarEnCarrito(producto)">
                      <h3><b>Agregar al carrito</b></h3>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-footer>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-footer>
      <ion-toolbar class="toolbar1">
        <img slot="start" alt="logo" height="100px" src="../../assets/images/LogoFortechBlanco.png">
    
    
        <ion-label color="light" slot = "start">
          <p [routerLink]="['../faq']">
            FAQs
          </p>
          <p [routerLink]="['../locations']">
          Ubicacion: Parque Industrial Z, Planta F29, Cartago<br>
          </p>
          <p>      
            Contacto Tel: 2241-4722 Correo: administrativo@fortech.cr<br>  
          </p>   
        </ion-label>
        <ion-label class="leftmargin" slot = "start" color="light">
          Redes Sociales:    
        </ion-label>
        <a href="https://www.facebook.com/fortech.cr/">
          <img class="leftmargin" alt="facebook" height="35px" src="../../assets/images/facebook.png"> 
        </a>
        <a href="https://www.instagram.com/fortechquimica/" >
          <img  class="leftmargin" alt="instagram" height="40px" src="../../assets/images/instagram.png"> 
        </a>
        
    
        
        <ion-label slot="end" color="light" style="margin-right: 10px;"> 
          <p>Mariano Soto<br>
            Francisco Pereira<br>
            Kenner Ortiz<br>
          </p>    
        </ion-label>
      </ion-toolbar>
    </ion-footer>

</ion-content>
