<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-button mode="ios" fill="clear" slot="start" href="/home">
          <ion-label color="light">E - Collective</ion-label>
        </ion-button>
        <ion-searchbar slot = "start" placeholder="Buscar teléfonos celulares..."></ion-searchbar>

        <div style="display: flex; align-items: center; justify-content: center;" *ngIf="(observableUser | async) as user; else noLogin">
          <ion-button mode="ios" fill="clear" (click)= "onClickLogin()">
            <ion-label color="light">{{user.name}}</ion-label>
          </ion-button>
          <ion-button mode="ios" fill="clear" (click)= "onClickLogin()">
            <ion-label color="light">Cerrar sesión</ion-label>
          </ion-button> 
        </div>
        
        <ng-template #noLogin>
          <ion-button mode="ios" fill="clear" (click)= "onClickLogin()">
            <ion-label color="light">Iniciar sesión</ion-label>
          </ion-button>
          <ion-button mode="ios" fill="clear" (click) = "onClickRegister()">
            <ion-label color="light">Registrarse</ion-label>
          </ion-button>
        </ng-template>

        <ion-button slot="end" fill="clear" (click)= "abrirCarrito()" #carro>
          <div class = "cart-lenght"> {{contadorItems | async}} </div>
          <ion-icon name = "cart" class = "cart-icon"></ion-icon>        
        </ion-button> 
      </ion-toolbar>
      </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content>     
  
  <div>Some tags before</div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>Slide 1</ng-template>  
    <ng-template carouselSlide>Slide 2</ng-template>  
    <ng-template carouselSlide>Slide 3</ng-template>  
  </owl-carousel-o>
  <div>Some tags after</div>
  
  
  <ion-grid>
      <ion-row>
        <ion-col size-xl="3" size-md="6" size-xs="12" *ngFor="let producto of productos">
          <ion-card>

            
            <ion-card-header>
              <div style="display: flex; align-items: center; justify-content: center;">

              <img class="deviceImage" [src]="producto.imgUrl" />
                
              </div>
              <ion-card-title>{{producto.name}} {{producto.model}}</ion-card-title>
              <ion-label><b>₡ {{producto.price}} c/IVA</b></ion-label>
            </ion-card-header>
            <ion-card-content>
              <ion-footer>
                <ion-row>
                  <ion-col size="6" class="slim">
                    <ion-button class="slim" mode="ios" fill="clear" expand="full" (click)="verDetalles(producto)">
                      <ion-text><h2><b>Ver detalles</b></h2></ion-text>
                    </ion-button>
                  </ion-col>
                  <ion-col size="6" class="slim">
                    <ion-button class="slim" mode="ios" fill="clear" expand="full" (click)="agregarEnCarrito(producto)">
                      <ion-text><h2><b>Agregar al carrito</b></h2></ion-text>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-footer>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-footer>
      <ion-toolbar>
        <img slot="start" alt="logo" height="100px" src="../../assets/images/LogoFortechBlanco.png">
    
    
        <ion-label color="light" slot = "start">
          <p [routerLink]="['../faq']">
            FAQs
          </p>
          <p [routerLink]="['../locations']">
          Ubicacion: Parque Industrial Z, Planta F29, Cartago<br>
          </p>
          <p>      
            Contacto Tel: 2241-4722 Correo: administrativo@fortech.cr<br>  
          </p>   
        </ion-label>
        <ion-label class="leftmargin" slot = "start" color="light">
          Redes Sociales:    
        </ion-label>
        <a href="https://www.facebook.com/fortech.cr/">
          <img class="leftmargin" alt="facebook" height="35px" src="../../assets/images/facebook.png"> 
        </a>
        <a href="https://www.instagram.com/fortechquimica/" >
          <img  class="leftmargin" alt="instagram" height="40px" src="../../assets/images/instagram.png"> 
        </a>
        
    
        
        <ion-label slot="end" color="light" style="margin-right: 10px;"> 
          <p>Mariano Soto<br>
            Francisco Pereira<br>
            Kenner Ortiz<br>
          </p>    
        </ion-label>
      </ion-toolbar>
    </ion-footer>

</ion-content>
