<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title slot="start">           
            E-Collective
        </ion-title>
        <ion-searchbar slot = "start" placeholder="Buscar teléfonos celulares..."></ion-searchbar>
        <ion-button mode="ios" fill="clear">
          <ion-label color="light">Iniciar sesión</ion-label>
        </ion-button>
        <ion-button mode="ios" fill="clear">
          <ion-label color="light">Registrarse</ion-label>
        </ion-button>
        <ion-button slot="end" fill="clear">
          <ion-icon slot="icon-only" name="cart" shape="round" color="light"></ion-icon>
        </ion-button> 
      </ion-toolbar>
      </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-grid>
      <ion-row>
        <ion-col size-xl="3" size-md="6" size-xs="12" *ngFor="let device of devices">
          <ion-card>

            
            <ion-card-header>
              <div style="display: flex; align-items: center; justify-content: center;">
                <img class="deviceImage" [src]="device.photoURL" />
              </div>
              <ion-card-title>{{device.name}} {{device.model}}</ion-card-title>
              <ion-label><b>₡ {{device.price}} c/IVA</b></ion-label>
            </ion-card-header>
            <ion-card-content>

              <ion-button mode="ios" expand="block">
                <ion-icon name="cart" style="margin-right: 15px;"></ion-icon> Añadir al carrito
              </ion-button> 
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>


</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <img slot="start" alt="logo" height="100px" src="../../assets/images/LogoFortechBlanco.png">


    <ion-label color="light" slot = "start">
      <p [routerLink]="['../faq']">
        FAQs
      </p>
      <p>
        Ubicacion: Parque Industrial Z, Planta F29, Cartago<br>
        Contacto Tel: 2241-4722 Correo: administrativo@fortech.cr<br>  
      </p>   
    </ion-label>
    <ion-label class="leftmargin" slot = "start" color="light">
      Redes Sociales:    
    </ion-label>
    <a href="https://www.facebook.com/fortech.cr/">
      <img class="leftmargin" alt="facebook" height="35px" src="../../assets/images/facebook.png"> 
    </a>
    <a href="https://www.instagram.com/fortechquimica/" >
      <img  class="leftmargin" alt="instagram" height="40px" src="../../assets/images/instagram.png"> 
    </a>
    

    
    <ion-label slot="end" color="light" style="margin-right: 10px;"> 
      <p>Mariano Soto<br>
        Francisco Pereira<br>
        Kenner Ortiz<br>
      </p>    
    </ion-label>
  </ion-toolbar>
</ion-footer>