ion-toolbar {
  --background: #050446;
}

ion-menu-button {
  color: white;
}

ion-searchbar {
  max-width: 800px;
}

ion-title {
  color: white;
}

ion-content{
  --ion-background-color:#f0f0f0;
}

.leftmargin {
  margin-left: 20px;
}