ion-toolbar {
  --background: #050446;
}

ion-menu-button {
  color: white;
}

ion-searchbar {
  max-width: 800px;
}

ion-title {
  color: white;
}

ion-content {
  --background: #f0f0f0; // Replace this with color of your choice
}

.leftmargin {
  margin-left: 20px;
}