

ion-title {
  color: white;
}

ion-searchbar {
  width: 60%;
  margin: 0 auto;
}

.logo{
  height: 100px;
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.toolbar2{
  --background:#1c1f4c;
}

.toolbar1{
  --background:#131635;
}



ion-content {
  --background: #f0f0f0; // Replace this with color of your choice
}

ion-card-content {
  padding-bottom: 0;
}

ion-menu-button {
  color: white;
}

ion-searchbar {
  max-width: 800px;
}

.leftmargin {
  margin-left: 20px;
}

.deviceImage {
  width: 250px;
  height: 250px;
  margin: auto;
}

.deviceOfferImage {
  width: 150px;
  height: 150px;
  margin: auto;
}

.cart-icon{
  font-size: 40px;
  color: white;
}

.add-product{
  font-size: 25px;
  color: #050446
}

.cart-lenght{
  color: #050446;
  position: absolute;
  top: 8px;
  left: 5px;
  font-weight: 600;
  font-size: 1em;
  min-width: 25px;
  z-index: 10;
}

h1{
  background-color: #131635;
}

h3 {
  margin-bottom: 0px;
}

.slim {
  max-height: 40px;
  margin-top: 0px;
  padding-top: 0px;
}

.superSlim {
  max-height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
