ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}

ion-img{
display: inline-block;
height:90px;
width:100%;
}

.white {
    color: white;
}

ion-content {
    --background: #f0f0f0; // Replace this with color of your choice
}

.toolbar1{
    --background:#131635;
  }
  
.product-price{
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.item-counter{
    text-align: center;
    vertical-align: middle;
    padding-top: 13px;
}