ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}

ion-menu-button {
    color: white;
  }

  .toolbar1{
    --background:#131635;
}

  .logo{
    height: 100px;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }