<h1 
  mat-card-title style = "color: green; font-size: 2em; font-style:italic;" > <b>OFERTA ESPECIAL</b>
</h1>

<mat-card-content>
  <img src="{{imagen}}"/>  
  
  <div style= "padding: 2%;">
    <div style="font-size: 200%; padding-left: 1%;  margin-bottom: 5%; font-style:italic;">
      {{name}} 
    </div>

    <div style="padding-left: 1%; font-size: 125%;  margin-bottom: 1%;">
      <s>Precio Anterior: ₡{{price}}</s>
    </div>
    
    <div style="padding-left: 1%; font-size: 155%; margin-bottom: 1%;"> 
      <b>Precio de Oferta: ₡{{discounted}}</b> 
    </div> 
  </div>  

</mat-card-content>