<header>
  <spam><strong style = "color: red; float: right; font-size: 2em; margin-bottom: 10px;"> OFERTA ESPECIAL </strong></spam>
</header>

<img src={{imagen}}/>
  <ion-card-header >
    <ion-card-title>   
     
      <div>
        {{name}}
      </div>

      <div>
        Precio Anterior: <s>₡{{price}}</s>
      </div>
     
      <div> 
        Precio de Oferta: ₡{{discounted}}
      </div> 

      <div> 
        <ion-button mode="ios" style="float: right;">
          <ion-label color="light"> Ir al Producto </ion-label>
        </ion-button> 
      </div>

      </ion-card-title>
  </ion-card-header>

