<ion-header [translucent]="true" >
  <ion-toolbar class="toolbar1">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <a href="/home" slot="start">
      <img src="\assets\images\e-collectiveWG.png" class="logo">
    </a>
    
    <ion-title>Mi historial de compras</ion-title>
        <ion-buttons slot="start">
          <ion-button slot="end" fill="clear" mode="ios" [routerLink]="['../home']"  >
            <ion-label color="light"><u>Volver al inicio</u></ion-label>
          </ion-button>
        </ion-buttons>
 
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
